<div class="aosd-report-container">
  <sidenavinstsect></sidenavinstsect>

  <div class="aosd-report">
    <logo></logo>
    <!-- Search section complete -->
    <searchsect id="searchSection"></searchsect>
    <searchinfosect></searchinfosect>
    <searchchartsect></searchchartsect>

    <!-- Statistics section -->
    <tophashinstsect id="topHastagsSection"></tophashinstsect>
    <hashinstsect id="hastagsSection"></hashinstsect>
    <lastmessinstsect id="lastMessagesSection"></lastmessinstsect>

    <!-- Evolution section -->
    <evoinstsect id="evolutionSection"></evoinstsect>

    <!-- Heat map section -->
    <heatinstsect id="heatMapSection"></heatinstsect>

    <!-- Polarity section -->
    <polinstsect id="polaritySection"></polinstsect>
  </div>
</div>
