<div class="aosd-report-container">
  <sidenavinstsect></sidenavinstsect>

  <div class="aosd-report">
    <logo></logo>
    <!-- Search section complete -->
    <searchsect></searchsect>
    <searchinfosect></searchinfosect>
    <searchchartsect></searchchartsect>

    <!-- Statistics section -->
    <statsinstsect id="statisticsSection"></statsinstsect>

    <!-- Evolution section -->
    <evoinstsect id="evolutionSection"></evoinstsect>

    <!-- Heat map section -->
    <heatinstsect id="heatMapSection"></heatinstsect>

    <!-- Polarity section -->
    <polinstsect id="polaritySection"></polinstsect>
  </div>
</div>
