<logo></logo>

<div class="aosd-container">
  <div class="parrafoTexto">
    
    Aragón Open Social Data es una aplicación que captura y procesa la información pública que se genera en las redes sociales de las cuentas institucionales. Con esa información se ha desarrollado un panel de mando ciudadano en el que se puede conocer la conversación existente en y sobre Aragón que ofrecen y publican las cuentas institucionales. 
    <br><br>
    Ahora, con Aragón Open Social Data, puedes ver lo que sucede en la redes sociales de las cuentas institucionales, comprobar su evolución y muchas otra información de interés.
    <br><br>
     ¡Descubre ya lo que sucede en las redes sociales!
    <br><br>
  </div>

  <h2>Busca la conversación</h2>

  <div class="aosd-controls row">
    <form name="terms" class="col-12 inline-formcontrol form-inline" novalidate>
      <div class="alert alert-danger" role="alert" ng-show="invalid_dates">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{ invalid_dates }}
      </div>
      <div class="row">
        <div class="col-12 col-md-4 input-group">
          <label class="col-12" for="region">En todo Aragón</label>
          <!--<select id="region" class="form-control form-region col-10" ng-model="region" ng-options="region.id as region.label group by region.tipo for region in regions"></select>-->
        </div>
        <div class='input-group date input-daterange col-12 col-md-4'>
          <label for="start" class="col-2">Desde</label>
          <input class="col-9 form-control date-filter-control" id="start" ng-model="start" placeholder="dd/mm/yyyy" type="text">
          <span class="col-1 input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
        <div class='input-group date input-daterange col-12 col-md-4'>
          <label for="end" class="col-2">Hasta</label>
          <input class="col-9 form-control date-filter-control" id="end" ng-model="end" placeholder="dd/mm/yyyy" type="text">
          <span class="col-1 input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
        <div class="col-12">
          <h3>Sobre</h3>
          <fieldset class="fieldset-terms" ng-repeat="choice in choices">
            <input type="text" class="form-control" ng-model="choice.name" placeholder="Introduce un nuevo término" required>
            <button class="btn btn-default" ng-click="removeChoice($index)" ng-if="choices.length > 1">-</button>
          </fieldset>
          <button class="btn btn-default" ng-click="addNewChoice()">Añadir otro término</button>
          <small><i>Puedes añadir hasta 10 términos</i></small>
          <input type="submit"  class="btn btn-primary" value="Buscar en institucional" ng-click="search_inst()">
        </div>
      </div>
    </form>
  </div>
  
    <div class="separadorContenidoPagina"></div>
  <h2>¡Atención, no te vas a llevar toda la conversación!</h2>
  <div class="parrafoTexto">
    El servicio Aragón Open Social Data captura datos únicamente de las APIs gratuitas de las redes sociales. Esto es importante, ya que las APIs gratuitas devuelven únicamente una parte de la conversación que, además, es variable en el tiempo. 
    <br><br>
    Aragón Open Social Data es una herramienta que permite aproximarse a las redes sociales pero no permite saber todo lo que está sucediendo. Aragón Open Social Data es un buen indicador de actividad en las redes gracias a que permite la comparación de palabras a lo largo del tiempo tiempo y la creación de un contexto en el que entender lo que está pasando, sin embargo los datos ofrecidos no constituyen un indicador absoluto de toda la conversación.
    <br><br>
Si quieres obtener más información al respecto te adjuntamos una serie de links en los que puedes investigar:
    <br><br>
    <ul>
      <li>
        <a href="https://developer.twitter.com/en/docs">Documentación pública de Twitter</a>
      </li>
      <li>
        <a href="https://twittercommunity.com/t/diffence-between-sample-and-filter-streaming-api/15094">Foro sobre el tema de Twitter</a>
      </li>
      <li>
        <a href="http://www.brightplanet.com/2013/06/twitter-firehose-vs-twitter-api-whats-the-difference-and-why-should-you-care/">Artículo brightplanet.com: API de Twitter vs Firehose</a>
      </li>
    </ul>
  </div>
</div>
