<div class="aosd-selection-help">
  <h2>Resultados de la búsqueda:</h2>
  <div class="aosd-controls row" ng-controller="mainController">
    <form name="terms2" class="col-12 inline-formcontrol" novalidate>
      <div class="alert alert-danger" role="alert" ng-show="invalid_dates">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{ invalid_dates }}
      </div>
      <div class="row">
        <div class='form-group date input-daterange col-md-4 pr-0'>
          <label for="start" class="align-bottom">Desde</label>
          <input class="col-9 form-control date-filter-control d-inline align-middle" id="start" ng-model="start" placeholder="dd/mm/yyyy" type="text">
          <span class="col-1 input-group-addon d-inline p-3"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
        <div class='form-group date input-daterange col-md-4 pr-0'>
          <label for="end" class="align-bottom">Hasta</label>
          <input class="col-9 form-control date-filter-control d-inline align-middle" id="end" ng-model="end" placeholder="dd/mm/yyyy" type="text">
          <span class="col-1 input-group-addon d-inline p-3"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
        <div class="form-group col-md-4 pr-0">
          <label for="terminos" class="align-bottom">Sobre</label>
          <input type="text" class="col-10 form-control d-inline align-middle m-0" id="terminos" data-ng-model="termsList" placeholder="Introduce los términos" required>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <input type="submit"  class="btn btn-primary" value="Buscar en institucional" ng-click="search_inst()">
        </div>
      </div>
    </form>
  </div>
  <pre><i>{{ terms.join(', ') }}</i><br>En <b>{{ region | titleCase }}</b> desde el <b>{{ start }}</b> hasta el <b>{{ end }}</b> para cuentas institucionales.</pre>
  <div class="row">
	  <div class="col-lg-4">
	    <div google-chart chart="total_by_source"></div>
	  </div>
	  <div class="col-lg-4">
	    <div google-chart chart="total_by_type"></div>
	  </div>
	  <div class="col-lg-4">
	    <div id="total">
	      <dl class="dl-horizontal">
	        <dt>Total:</dt><dd>{{ count | number }}</dd>
	        <dt>Geolocalizable:</dt><dd>{{ count_geo | number }}</dd>
	        <dt>Autores:</dt><dd>{{ count_authors | number }}</dd>
	        <dt>Hashtags:</dt><dd>{{ count_hashtags | number }}</dd>
	        <dt>Menciones:</dt><dd>{{ count_mentions | number }}</dd>
	      </dl>
	    </div>
	  </div>
	</div>
  <!-- <a href="#/main/" class="btn btn-primary top-btn">Realizar otra búsqueda</a> -->
  <!--a href="#/subscribe/?fromSearch=1" class="btn btn-default top-btn">Suscribirse a estos resultados</a-->
  <a href="" class="btn btn-default top-btn" ng-click="downloadCSV()">Descargar CSV</a>
  <hr>
</div>
