<div class="row">
  <div class="col-sm-12">
    <div class="">
      <h2>Historicos</h2>
      <h5>** Los hashtags destacados en rojo son institucionales</h5>
    </div>
    <div class="timeline">
      <div class="swiper-container swiper-container-y">
        <div class="swiper-wrapper"></div>
        <div class="swiper-button-prev swiper-button-prev-y"></div>
        <div class="swiper-button-next swiper-button-next-y"></div>
        <div class="swiper-pagination swiper-pagination-y"></div>
        <!-- <div class="swiper-scrollbar swiper-scrollbar-y"></div> -->
      </div>
    </div>
    <a href="" class="btn btn-default top-btn" ng-click="cloudType('color')"
      >A color</a
    >
    <a href="" class="btn btn-default top-btn" ng-click="cloudType('grayscale')"
      >Blanco y negro</a
    >
    <a href="" class="btn btn-default top-btn" ng-click="cloudType('table')"
      >Tabla</a
    >
  </div>
</div>
