<div class="row aosd-section">
  <div class="col-sm-12">
    <hr class="aosd-section-separator" />
    <h2>
      Evolución
      <a
        href=""
        class="btn btn-default top-btn aosd-dropdown-button"
        ng-click="toggleDropdown('evolution')"
        id="evolution-dropdown-button"
      >
        Ocultar
      </a>
    </h2>
  </div>
  <div class="col-sm-12 evolution-dropdown">
    <h5>La evolución no se acota a las fechas de búsqueda</h5>
    <div
      google-chart
      chart="evolution_total"
      style="width: 100%; height: 500px"
    ></div>
  </div>
</div>
