<div class="aosd-report-container">
  <sidenavinstsect></sidenavinstsect>

  <div class="aosd-report">
    <div class="row">
      <div class="col-lg-0 col-md-3 pr-0"></div>
      <div class="col-lg-12 col-md-9 pr-0">
        <!-- style="display: grid;" necesary to work on firefox -->
        <div class="row">
          <logo></logo>
        </div>
        <!-- <selectionhelpinst></selectionhelpinst> -->
        <div class="row">
          <div class="col-12">
            <cloudinstsect></cloudinstsect>
          </div>
        </div>
        <br />
        <br />
        <br />
        <div class="row">
          <div class="col-12">
            <searchsect></searchsect>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
