<!-- <div
  class="row aosd-section"
  ng-if="last_items.length"
> -->
<div class="row aosd-section">
  <div class="col-sm-12">
    <hr class="aosd-section-separator" />
    <h2>
      Últimos mensajes
      <a
        href=""
        class="btn btn-default top-btn aosd-dropdown-button"
        ng-click="toggleDropdown('last-messages')"
        id="last-messages-dropdown-button"
      >
        Ocultar
      </a>
    </h2>
  </div>
  <div class="col-sm-12 last-messages last-messages-dropdown">
    <div ng-repeat="item in last_items" class="item">
      <h5>{{ item.title | trim }}</h5>
      <pre>{{ item.description | trim }}</pre>
      <i>
        <small
          >Por <strong>{{ item.author }}</strong> en {{ item.source | capitalize
          | snakeCase }} a las {{ item.published_on }} -
          <a href="{{ item.url }}" target="_blank">Detalles</a>
        </small>
      </i>
      <hr />
    </div>
    <div ng-if="item">

      <button class="btn btn-default" ng-click="moreItems()">
        Mostrar más mensajes
      </button>
    </div>
    <div ng-if="!item">
      <h5>No hay mensajes institucionales con el hashtag y rango seleccionados</h5>
    </div>
  </div>
</div>
