<div class="aosd-report-container">
  <sidenavinstsect></sidenavinstsect>

  <div class="aosd-report">
    <div class="row">
      <div class="col-lg-0 col-md-3 pr-0"></div>
      <div class="col-lg-12 col-md-9 pr-0">
        <logo></logo>
        <div class="aosd-selection-help">
          <div class="parrafoTexto">
            Aragón Open Social Data es una aplicación que captura y procesa la
            información pública que se genera en las redes sociales de las
            cuentas institucionales. Con esa información se ha desarrollado un
            panel de mando ciudadano en el que se puede conocer la conversación
            existente en y sobre Aragón que ofrecen y publican las cuentas
            institucionales.
            <br /><br />
            Ahora, con Aragón Open Social Data, puedes ver lo que sucede en la
            redes sociales de las cuentas institucionales, comprobar su
            evolución y muchas otra información de interés.
            <br /><br />
            ¡Descubre ya lo que sucede en las redes sociales!
            <br /><br />
          </div>

          <div class="separadorContenidoPagina"></div>
          <h2>¡Atención, no te vas a llevar toda la conversación!</h2>
          <div class="parrafoTexto">
            El servicio Aragón Open Social Data captura datos únicamente de las
            APIs gratuitas de las redes sociales. Esto es importante, ya que las
            APIs gratuitas devuelven únicamente una parte de la conversación
            que, además, es variable en el tiempo.
            <br /><br />
            Aragón Open Social Data es una herramienta que permite aproximarse a
            las redes sociales pero no permite saber todo lo que está
            sucediendo. Aragón Open Social Data es un buen indicador de
            actividad en las redes gracias a que permite la comparación de
            palabras a lo largo del tiempo tiempo y la creación de un contexto
            en el que entender lo que está pasando, sin embargo los datos
            ofrecidos no constituyen un indicador absoluto de toda la
            conversación.
            <br /><br />
            Si quieres obtener más información al respecto te adjuntamos una
            serie de links en los que puedes investigar:
            <br /><br />
            <ul>
              <li>
                <a href="https://developer.twitter.com/en/docs"
                  >Documentación pública de Twitter</a
                >
              </li>
              <li>
                <a
                  href="https://twittercommunity.com/t/diffence-between-sample-and-filter-streaming-api/15094"
                  >Foro sobre el tema de Twitter</a
                >
              </li>
              <li>
                <a
                  href="http://www.brightplanet.com/2013/06/twitter-firehose-vs-twitter-api-whats-the-difference-and-why-should-you-care/"
                  >Artículo brightplanet.com: API de Twitter vs Firehose</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
