<div class="aosd-report-container">
  <sidenavinstsect></sidenavinstsect>

  <div class="aosd-report">
    <div class="row">
      <div class="col-lg-0 col-md-3 pr-0"></div>
      <div class="col-lg-12 col-md-9 pr-0">
        <logo></logo>
        <!-- Search section complete -->
        <searchsect id="searchSection"></searchsect>
        <searchinfosect></searchinfosect>
        <searchchartsect></searchchartsect>

        <!-- Statistics section -->
        <tophashinstsect id="topHastagsSection"></tophashinstsect>
        <hashinstsect id="hastagsSection"></hashinstsect>
        <lastmessinstsect id="lastMessagesSection"></lastmessinstsect>

        <!-- Evolution section -->
        <evoinstsect id="evolutionSection"></evoinstsect>

        <!-- Polarity section -->
        <polinstsect id="polaritySection"></polinstsect>

        <!-- Heat map section -->
        <heatinstsect id="heatMapSection"></heatinstsect>
      </div>
    </div>
  </div>
</div>
