<div class="row">
  <div class="col-lg-4">
    <div google-chart chart="total_by_source"></div>
  </div>
  <div class="col-lg-4">
    <div google-chart chart="total_by_type"></div>
  </div>
  <div class="col-lg-4">
    <div id="total">
      <dl class="dl-horizontal">
        <dt>Total:</dt>
        <dd>{{ count | number }}</dd>
        <dt>Geolocalizable:</dt>
        <dd>{{ count_geo | number }}</dd>
        <!-- <dt>Autores:</dt>
        <dd>{{ count_authors | number }}</dd> -->
        <dt>Hashtags:</dt>
        <dd>{{ count_hashtags | number }}</dd>
        <dt>Menciones:</dt>
        <dd>{{ count_mentions | number }}</dd>
      </dl>
    </div>
  </div>
</div>
